.content {
  padding: 20px 20px 20px 40px;

  & > *:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--color-secondary);
  }
}

.placeholder {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .content {
    padding: 20px 10px;
  }
}