* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: initial;
}

a:hover {
  text-decoration: none;
}

ul,
ul li {
  list-style: none;
}
